.floatingdiv2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    width: 8rem;
    height: 3.5rem;
    padding: 3px 30px 3px 3px;
}

.floatingdiv2>img{
    transform: scale(0.4);
}

.floatingdiv2>span{
    font-family: sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 480px){
    .floatingdiv2{
        width: 5.5rem;
        height: 2.5rem;
        justify-content: space-evenly;
        padding: 2px 50px 2px 10px;
    }
    .floatingdiv2>img{
        transform: scale(0.3);
    }
    .darkText,.lightText{
        font-size: 14px;
    }
}

