.works{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 10rem;
}

/* right side */
.w-right{
    position: relative;
}

.w-mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 1rem;
    background: white;
}

.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle> :nth-child(1){
    top: -2.5rem;
    left: 5.5rem;
    /* transform: scale(0.35); */
}

.w-mainCircle> :nth-child(2){
    top: 6.2rem;
    left: -3.5rem;
    /* transform: scale(0.2); */
}

.w-mainCircle> :nth-child(3){
    top: 6.2rem;
    left: 5.5rem;
    /* transform: scale(0.5); */
}

.w-mainCircle> :nth-child(4){
    top: 6.2rem;
    left: 14.8rem;
    /* transform: scale(0.2); */
}

.w-mainCircle> :nth-child(5){
    top: 15rem;
    left: 5.5rem;
    /* transform: scale(0.35); */
}

.w-secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.w-secCircle>img{
    transform: scale(0.7);
}

.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle{
    background: #1949B8;
    left: 18rem;
    top: 0rem;
}

.yellowCircle{
    background: #F5C32C;
    left: 18rem;
    top: 8rem;
}
/* 
@media screen and (min-width: 320px){
    .works{
        flex-direction: column;
        height: 50rem;
        padding: 0;
        gap: 3rem;
    }
    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.55);
        left: -1.5rem;
    }
    .w-mainCircle{
        position: static;
        width: 25rem!important;
        height: 18rem!important;
        border-radius: 100%!important;
        padding-right: 18rem!important;
    }
    .w-backCircle{
        left: 8rem!important;
        transform: scale(0.8);
    }

    .w-secCircle{
        transform: scale(0.65);
    }
    
}

@media screen and (min-width: 480px){
    .works{
        flex-direction: column;
        height: 40rem;
        padding: 0;
        gap: 3rem;
    }
    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.7);
        left: 1rem;
    }
    .w-mainCircle{
        position: static;
        width: 18rem !important;
        height: 18rem;
        padding-right: 0 !important;
    }
    .w-backCircle{
        left: 8rem!important;
    }
    
} */